# Environment files
**/.env

# Aider files
/.aider.tags.cache.v3
.aider/.aider.chat.history.md
.aider/.aider.input.history
.aider/aider.chat.history.md
.aider/aider.input.history
.aider/aider.llm.history
.aider*
